# Temp Files
*.txt
*.png
*.pyc
*.pyo
.ssh/

# Spider Framework
spider/

# Flask Framework
static/
templates/
*.wsgi

# Tornado Framework
tornado_server.py

# Config
repo_dir.txt

# What is the παίξειν?
